body {
    background-image: url('Photo/Bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

p {
    color: rgb(130, 77, 39);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: rgb(130, 77, 39);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    color: rgb(130, 77, 39);
    text-align: center;
}

.time_div {
    color: rgb(130, 77, 39);
    font-size: 22px !important;
    position: fixed;
    top: 430px;
    right: 230px;
}